<p><strong>{{ DAY_NAME }}</strong>{{ DAY_DATE }}</p>
<table data-layout="default">
   <colgroup>
      <col style="width: 115.0px;" />
      <col style="width: 477.0px;" />
      <col style="width: 168.0px;" />
   </colgroup>
   <tbody>
      <tr>
         <th data-highlight-colour="#f4f5f7">
            <p style="text-align: center;"></p>
         </th>
         <td data-highlight-colour="#f4f5f7" >
            <p style="text-align: center;"><strong>Daily notes</strong></p>
         </td>
         <td data-highlight-colour="#f4f5f7" >
            <p style="text-align: center;"><strong>Blockers</strong></p>
         </td>
      </tr>
