<tr>
    <th>
        <p>
            <strong>{{ NAME }}</strong>
        </p>
    </th>
    <td>
        <p>
            {{ DAY_NOTES }}
        </p>
    </td>
    <td>
        <p>
            {{ DAY_BLOCKERS }}
        </p>
    </td>
</tr>