<tr>
    <th>
        <p>
            <strong>{{ NAME }}</strong>
        </p>
    </th>
    <td>
        {{ YESTERDAY_NOTES }}
    </td>
    <td>
        {{ DAY_NOTES }}
    </td>
    <td>
        {{ DAY_BLOCKERS }}
    </td>
</tr>