<table data-layout="default">
    <tbody>
        <tr>
            <th><p><strong>Scrum master</strong></p></th>
            <th><p><strong>Start date</strong></p></th>
            <th><p><strong>End date</strong></p></th>
        </tr>
        <tr>
            <td>
                <strong>
                    {{ SPRINT_SCRUM_MASTER }}
                </strong>
            </td>
            <td>
                <p>
                    {{ SPRINT_START }}
                </p>
            </td>
            <td>
                <p>
                    {{ SPRINT_END }}
                </p>
            </td>
        </tr>
    </tbody>
</table>