<body class="mceContentBody aui-theme-default wiki-content fullsize">
    <p>&nbsp;</p>
    <table data-layout="default" class="confluenceTable">
        <tbody>
            <tr>
                <th class="confluenceTh"><p><strong>Scrum master</strong></p></th>
                <th class="confluenceTh"><p><strong>Start date</strong></p></th>
                <th class="confluenceTh"><p><strong>End date</strong></p></th>
            </tr>
            <tr>
                <td class="confluenceTd">
                    <strong>
                        {{ SPRINT_SCRUM_MASTER }}
                    </strong>
                </td>
                <td class="confluenceTd">
                    <p>
                        {{ SPRINT_START }}
                    </p>
                </td>
                <td class="confluenceTd">
                    <p>
                        {{ SPRINT_END }}
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- insert Day here -->
</body>